
<div class="field is-grouped">
  <% if current_user && @event.creator != current_user  && !@event.attendees.include?(current_user) %>
    <div class="control">
      <%= link_to "Attend event", create_attending_event_path(:user_id => current_user.id, :id => @event.id), method: :post, class: "button is-dark" %>
    </div>
  <% end %>
  <% if current_user == @event.creator %>
    <div class="control">
      <%= simple_form_for (@invitation) do |f| %>
        <%= f.hidden_field :event_id, value: @event.id %>
        <div class="select">
          <%= f.select :username, User.pluck(:username) %>
        </div>
        <%= f.button :submit, class: "button is-dark" %>
      <% end %>
    </div>
  <% end %>
  <% if current_user && @event.creator != current_user  && @event.attendees.include?(current_user) %>
    <div class="control">
      <%= link_to "Cancel Attendance", cancel_attending_event_path(:user_id => current_user.id, :id => @event.id), method: :delete, class: "button is-danger" %>
    </div>
  <% end %>
  <% if current_user == @event.creator %>
    <div class="control">
      <%= link_to "Cancel Event", @event, method: :delete, class: "button is-danger is-pulled-right", data: { confirm: "Are you sure you want to delete this event?" } %>
    </div>
  <% end %>
</div>

