<div class="field is-grouped">
  <% if current_user && @event.creator != current_user  && !@event.attendees.include?(current_user) %>
    <div class="control">
      <%= link_to "Attend event", create_attending_event_path(:user_id => current_user.id, :id => @event.id), method: :post, class: "button is-primary" %>
    </div>
  <% end %>
  <div class="control">
    <div class="field has-addons">
      <div class="control">
        <%= simple_form_for(@invitation) do |f| %>
          <%= f.hidden_field :event_id, value: @event.id %>
          <div class="control">
            <%= f.input :username, label: false, placeholder: 'Username', input_html: { class: "input", type: 'text' }, wrapper: false,
              label_html: { class: "label" } %>
          </div>
          <div class="control">
            <%= f.button :submit, class: "button is-primary" %>
          </div>
        <% end %>
      </div>
      
        




      <div class="control">
        <input class="input" type="text" placeholder="Invite User">
      </div>
      <div class="control">
        <%= link_to "Invite", @event, method: :delete, class: "button is-danger", data: { confirm: "Are you sure you want to delete this event?" } %>
      </div>
    </div>
  </div>
  <% if current_user && @event.creator != current_user  && @event.attendees.include?(current_user) %>
    <div class="control">
      <%= link_to "Cancel Attendance", cancel_attending_event_path(:user_id => current_user.id, :id => @event.id), method: :delete, class: "button is-danger" %>
    </div>
  <% end %>
  <div class="control">
    <%= link_to "Cancel Event", @event, method: :delete, class: "button is-danger", data: { confirm: "Are you sure you want to delete this event?" } %>
  </div>
</div>

