<div class="column is-half is-offset-one-quarter">
  <h2 class="title is-3">Upcoming Events</h2>
  <% @events.future.each do | event | %>
    <% if event.invitees.include?(current_user) || event.creator == current_user %>
      <div class="box">
        <%= link_to event_path(event.id) do %>
          <strong><%= event.title %></strong><br>
        <% end %>
        <small><strong>Creator: <%= event.creator.username %></strong></small><br>
        <small><strong>When:</strong> <%= event.date %></small><br>
        <%= event.body %>
        <% if current_user && event.creator != current_user  && !event.attendees.include?(current_user) %>
          <br><%= link_to "Attend event", create_attending_event_path(:user_id => current_user.id, :id => event.id), method: :post, class: "button is-dark" %>
        <% end %>
        <% if current_user && event.creator != current_user  && event.attendees.include?(current_user) %>
          <br><%= link_to "Cancel Attendance", cancel_attending_event_path(:user_id => current_user.id, :id => event.id), method: :delete, class: "button is-danger" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <h2 class="title is-3">Past Events</h2>
  <% @events.past.each do | event | %>
    <% if event.invitees.include?(current_user) || event.creator == current_user %>
      <div class="box">
        <%= link_to event_path(event.id) do %>
          <strong><%= event.title %></strong><br>
        <% end %>
        <small><strong>Creator: <%= event.creator.username %></strong></small><br>
        <small><strong>When:</strong> <%= event.date %></small><br>
        <%= event.body %>
      </div>
    <% end %>
  <% end %>
</div>
