<section class="section">
  <div class="container">
    <div class="columns">
      <% if @event.invitees.include?(current_user) || @event.creator == current_user %>
      <div class="box">
        <strong><%= @event.title %></strong><br>
        <small><strong>Creator: <%= @event.creator.username %></strong></small><br>
        <small><strong>When:</strong> <%= @event.date %></small><br>
        <%= @event.body %>
        <% if current_user && @event.creator != current_user  && !@event.attendees.include?(current_user) %>
          <br><%= link_to "Attend event", create_attending_event_path(:user_id => current_user.id, :id => @event.id), method: :post, class: "button is-primary" %>
        <% end %>
        <% if current_user && @event.creator != current_user  && @event.attendees.include?(current_user) %>
          <br><%= link_to "Cancel Attendance", cancel_attending_event_path(:user_id => current_user.id, :id => @event.id), method: :delete, class: "button is-danger" %>
        <% end %>
      </div>
    <% end %>
    </div>
  </div>
</section>